.section-portfolio {
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 90px;
  }
}

.portfolio-cart__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 40px;
  min-width: 480px;

  @media screen and (min-width: 768px) {
    margin-top: 30px;
  }
  @media screen and (min-width: 1200px) {
    margin-top: 50px;
  }
}

.portfolio-cart__item {
  display: block;

  width: 450px;
  height: 404px;
  background-color: #ffffff;
  &:not(:last-child) {
    margin-bottom: 30px;
  }

  &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  &:hover .portfolio-cart__text {
    transform: translateY(0);
  }

  @media screen and (min-width: 768px) {
    width: 354px;
    height: 404px;
  }
  @media screen and (min-width: 1200px) {
    width: 370px;
    height: 404px;
    // &:nth-child(n + 7) {
    //   margin-bottom: 0;
    // }
  }
}

.portfolio-cart__text {
  display: block;
  position: absolute;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.03em;

  top: 0;
  height: 100%;

  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);

  padding: 63px 24px;

  transform: translatey(100%);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-cart__container {
  display: block;
  position: relative;
  overflow: hidden;
  margin: 0;
}

.portfolio-cart__box {
  display: block;
  padding: 20px 24px;
  background: #ffffff;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  justify-content: flex-start;
}

.portfolio-cart__title {
  display: block;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-cart__subtitle {
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  color: #757575;
}
