.section-clients {
  padding-top: 94px;
}

.section-clients__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.03em;

  text-align: center;
}

.section-clients__list {
  margin: 50px 0 0 0;

  display: flex;
  justify-content: center;
}

.section-clients__item:not(:last-child) {
  margin-right: 30px;
}

.section-clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;

  fill: #afb1b8;

  border: 1px solid #afb1b8;
  border-radius: 4px;

  &:hover,
  &:focus {
    fill: var(--accent-color);
    border-color: var(--accent-color);
  }
}
.section-clients__icon {
  width: 106px;
  height: 60px;
}
